In [59]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
salary filter.

In [ ]:
driver = webdriver.Chrome()

In [ ]:
#entering designation and location as required in the question

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [ ]:
location = driver.find_element(By.XPATH,"/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [ ]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [ ]:
#scraping job title
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [ ]:
#scraping job location
location_tag = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tag:
    location = i.text
    job_location.append(location)

In [ ]:
#scraping company name
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [ ]:
#scraping job experience
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp = i.text
    experience_required.append(exp)

In [ ]:
dl = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
dl

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver = webdriver.Chrome()

In [3]:
#opening the shine page on automated chrome browser

driver.get("https://www.shine.com/")

In [4]:
#entering Job title and location as required in the question

designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [5]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [6]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [7]:

experience_required = []

In [25]:
#scraping job title
job_title = []
counter = 0
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title = i.text
    job_title.append(title)
    counter += 1
    if counter == 10:
        break
job_title

['Data Scientist Opening',
 'Data Scientist Opening',
 'Data Scientist Recruitment',
 'Data Scientist',
 'ML Data Scientist',
 'Data Scientist Urgent Vacancy',
 'Clinical Data Associate',
 'Data Scientist',
 'Data Scientist Recruitment',
 'Data Scientist Recruitment']

In [19]:
#scraping company name
company_name = []
counter = 0
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)
    counter += 1
    if counter == 10:
        break

In [33]:
#scraping job location
job_location = []
counter = 0
location_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag:
    location = i.text.split('\n')[0] 
    job_location.append(location)
    counter += 1
    if counter == 10:
        break
job_location

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [35]:
#scraping job experience
experience_required = []
counter = 0
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp = i.text
    experience_required.append(exp)
    counter += 1
    if counter == 10:
        break
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 2 Yrs',
 '5 to 8 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '3 to 5 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs']

In [36]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist Opening,Bangalore,renuka interprises,0 to 4 Yrs
1,Data Scientist Opening,Bangalore,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Bangalore,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Bangalore,techno endura,0 to 2 Yrs
4,ML Data Scientist,Bangalore,gujarat facility services hiring fo...,5 to 8 Yrs
5,Data Scientist Urgent Vacancy,Bangalore,renuka interprises,0 to 4 Yrs
6,Clinical Data Associate,Bangalore,techno endura,0 to 1 Yr
7,Data Scientist,Bangalore,acme services private limited,3 to 5 Yrs
8,Data Scientist Recruitment,Bangalore,renuka interprises,0 to 4 Yrs
9,Data Scientist Recruitment,Bangalore,renuka interprises,0 to 4 Yrs

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [37]:
driver = webdriver.Chrome()

In [38]:
#opening the Flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [40]:
#scraping rating
ratings =[]
ratings_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tags:
    rate = i.text
    ratings.append(rate)
ratings

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [42]:
review_summary =[]
review_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags:
    review = i.text
    review_summary.append(review)
review_summary

['Worth every penny',
 'Best in the market!',
 'Fabulous!',
 'Terrific',
 'Classy product',
 'Brilliant',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Just wow!']

In [45]:
full_review =[]
full_rev_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    fulrev = i.text.replace('\n','')
    full_review.append(fulrev)
full_review

['Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'Super🔥 and good performance 👌❤️',
 'Very very good',
 'Camera is awesomeBest battery backupA performer 👌🏻It will be a real value for money if they provide charger and earphone inbox!',
 'very good camera quality',
 'Photos super',
 'This is amazing at all',
 'Value for money 😍',
 'Perfect Product!!']

In [48]:
dr = pd.DataFrame({'Ratings':ratings,'Review Summary':review_summary,'Full review':full_review})
dr

,Ratings,Review Summary,Full review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Fabulous!,Super🔥 and good performance 👌❤️
3,5,Terrific,Very very good
4,5,Classy product,Camera is awesomeBest battery backupA performe...
5,5,Brilliant,very good camera quality
6,5,Perfect product!,Photos super
7,5,Wonderful,This is amazing at all
8,5,Terrific purchase,Value for money 😍
9,5,Just wow!,Perfect Product!!

Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.

In [66]:
driver = webdriver.Chrome()

In [67]:
#opening the flipkart website

driver.get("https://www.flipkart.com/")

In [68]:
#entering sneakers as required in the question

sneaker = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
sneaker.send_keys('sneakers')

In [69]:

brand_name = []
counter = 0
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brand_name.append(brand)
    counter += 1
    if counter == 20:
        break
brand_name

['BRUTON',
 'Layasa',
 'URBANBOX',
 'Deals4you',
 'RED TAPE',
 'aadi',
 'Layasa',
 'BRUTON',
 'Fizoo',
 'Labbin',
 'BRUTON',
 'BRUTON',
 'RED TAPE',
 'BIRDE',
 'RED TAPE',
 'asian',
 'Fastnslow',
 'Layasa',
 'BIRDE',
 'BERSACHE']

In [70]:
#scraping product description
product_description = []
counter = 0
product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags:
    product = i.text
    product_description.append(product)
    counter += 1
    if counter == 20:
        break
product_description

['2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Women',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Sneakers For Women',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Casual White Shoes For Girls And Sneakers For Women',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'sports Sneakers For Men',
 'Oggi Sneakers Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Combo pack of 2 shoes for men Sneakers For Men',
 'GROOVY Mid-Top Casual Chunky Streetwear Fashion Sneaker...',
 'Sneakers For Men']

In [71]:
#scraping price
product_price = []
counter = 0
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price = i.text
    product_price.append(price)
    counter += 1
    if counter == 20:
        break
product_price

['₹599',
 '₹599',
 '₹299',
 '₹599',
 '₹1,179',
 '₹599',
 '₹599',
 '₹474',
 '₹539',
 '₹599',
 '₹699',
 '₹1,079',
 '₹499',
 '₹1,179',
 '₹769',
 '₹458',
 '₹649',
 '₹784',
 '₹770',
 '₹599']

In [72]:
df = pd.DataFrame({'Brand':brand_name,'Product Description':product_description,'Price':product_price})
df

        Brand                                Product Description   Price
0      BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹599
1      Layasa                                 Sneakers For Women    ₹599
2    URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
3   Deals4you                                 Sneakers For Women    ₹599
4    RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ₹1,179
5        aadi  Casual White Shoes For Girls And Sneakers For ...    ₹599
6      Layasa      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹599
7      BRUTON  Casual Sneakers ColourFul Block Shoes For Boys...    ₹474
8       Fizoo      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹539
9      Labbin  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...    ₹599
10     BRUTON  Sneaker Casual Shoes For Men | Soft Cushion In...    ₹699
11     BRUTON  Premium Casual Shoes for Women Sneakers For Women  ₹1,079
12   RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...    ₹499
13      BIRDE  Boston-01 Chunky Sneakers,Loafers,Walking Shoe...  ₹1,179
14   RED TAPE                            sports Sneakers For Men    ₹769
15      asian                     Oggi Sneakers Sneakers For Men    ₹458
16  Fastnslow      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹649
17     Layasa     Combo pack of 2 shoes for men Sneakers For Men    ₹784
18      BIRDE  GROOVY Mid-Top Casual Chunky Streetwear Fashio...    ₹770
19   BERSACHE                                   Sneakers For Men    ₹599

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:

In [73]:
#opening the amazon page on automated chrome browser

driver.get("https://www.amazon.in/")

In [74]:
#entering search item as required in the question

laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys('Laptop')

In [75]:
#clicking the search icon
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [76]:
#filter intel core i7
intel = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[8]/li/span/a/div")
intel.click()

In [77]:
#scraping laptop title
laptop_title = []
counter = 0
laptoptitle_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptoptitle_tags:
    title = i.text
    laptop_title.append(title)
    counter += 1
    if counter == 10:
        break
laptop_title

['MSI GF63 Thin, Intel 11th Gen. i5-11260H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/NVIDIA GeForce GTX 1650 Max Q,GDDR6 4GB/Black/2.04Kg), 11SC-1629IN',
 'Dell 14 Laptop, 12th Gen Intel Core i5-1235U Processor, 16GB, 512GB, 14.0" (35.56cm) FHD Display, Windows 11 + MSO\'21, Spill-Resistant Keyboard, 15 Month Mcafee, Black, Thin & Light- 1.48kg',
 'HONOR MagicBook X16 (2024), 12th Gen Intel Core i5-12450H, 16-inch (40.64 cm) FHD IPS Anti-Glare Thin and Light Laptop (16GB/512GB PCIe SSD/Windows 11/ Full-Size Numeric Keyboard /1.68Kg), Gray',
 'Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/512GB SSD/14.0" (35.56cm) FHD TÃœV Rheinland Certified Comfortview to Reduce Harmful Blue Light Emission/Windows 11 + MSO\'21/Black/15 Month McAfee,1.48kg',
 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB/ 1TB+256GB SSD/15.6"(39.62cm) FHD Display/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Black/Thin & Light 1.69kg',
 'HP 15s 12th Gen Intel Core i5, 15/6inch (39.6 cm), 8GB RAM, 512GB SSD, Intel Iris Xe Graphics, Backlit Kb, (Win 11 Home, Natural Silver, 1.69kg), fq5202TU / fq5329TU',
 'HP 15s, 11th Gen Intel Core i5-1155G7, 15.6 inch(39.6cm) FHD Anti-Glare Laptop(8GB RAM/512 GB SSD/Intel Iris Xe Graphics/Win 11/Dual Speakers/Backlit KeyboardAlexa Built-in/MSO 2021) 15s-fr4000TU',
 'Dell G15-5530 Gaming Laptop, Intel Core i5-13450HX Processor, 16GB DDR5, 1TB, NVIDIA RTX 3050,6GB GDDR6, 15.6" (39.62cm) FHD 120Hz 250 nits, Backlit KB Orange,Win 11 + MSO\'21, Dark Shadow Gray, 2.65kg',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i5-12450H, 4GB RTX 3050 GPU, 15.6-inch (39.6 cm) FHD IPS 144Hz, 16GB DDR4, 512GB SSD, Backlit KB, B&O Dual Speakers (Win 11, MSO, Blue, 2.37 kg), fa0666TX',
 'MSI GF63 Thin, Intel Core i5-11260H, 40CM FHD 144Hz Gaming Laptop (8GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1477IN']

In [78]:
#scraping laptop ratings
laptop_ratings = []
counter = 0
laptop_ratings_tags = driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in laptop_ratings_tags:
    titles = i.text
    laptop_ratings.append(titles)
    counter += 1
    if counter == 10:
        break
laptop_ratings

['8', '95', '296', '148', '470', '2,360', '222', '361', '233', '27']

In [79]:
#scraping laptop price
laptop_prices = []
counter = 0
laptop_prices_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in laptop_prices_tags:
    price = i.text
    laptop_prices.append(price)
    counter += 1
    if counter == 10:
        break
laptop_prices

['45,990',
 '56,990',
 '48,990',
 '45,990',
 '48,990',
 '46,990',
 '45,990',
 '44,990',
 '48,790',
 '46,449']

In [80]:
dp = pd.DataFrame({'Laptop Title':laptop_title,'Laptop Ratings':laptop_ratings,'Laptop Price':laptop_prices})
dp

,Laptop Title,Laptop Ratings,Laptop Price
0,"MSI GF63 Thin, Intel 11th Gen. i5-11260H, 40CM...",8,"45,990"
1,"Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...",95,"56,990"
2,"HONOR MagicBook X16 (2024), 12th Gen Intel Cor...",296,"48,990"
3,"Dell 14, Intel 12th Gen i5-1235U Laptop/8GB/51...",148,"45,990"
4,"Dell 15 Laptop, Intel Core i5-1135G7 Processor...",470,"48,990"
5,"HP 15s 12th Gen Intel Core i5, 15/6inch (39.6 ...","2,360","46,990"
6,"HP 15s, 11th Gen Intel Core i5-1155G7, 15.6 in...",222,"45,990"
7,"Dell G15-5530 Gaming Laptop, Intel Core i5-134...",361,"44,990"
8,"HP Victus Gaming Laptop, 12th Gen Intel Core i...",233,"48,790"
9,"MSI GF63 Thin, Intel Core i5-11260H, 40CM FHD ...",27,"46,449"

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time

In [81]:
driver = webdriver.Chrome()

In [82]:
#opening the azquotes page on automated chrome browser

driver.get("https://www.azquotes.com/")

In [83]:
#click on top quote
quote = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
quote.click()

In [84]:
#scraping Quote
quotes = []
counter = 0
quotes_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags:
    quote = i.text
    quotes.append(quote)
    counter += 1
    if counter == 100:
        break
quotes

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'No matter what people tell you, words and ideas can change the world.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [85]:
#scraping authors
authors = []
counter = 0
authors_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in authors_tags:
    author = i.text
    authors.append(author)
    counter += 1
    if counter == 100:
        break
authors

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Thomas Sowell',
 'Salma Hayek',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Nelson Mandela',
 'Robin Williams',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [86]:
#scraping Quote types
quote_types = []
counter = 0
quote_types_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_types_tags:
    quote = i.text
    quote_types.append(quote)
    counter += 1
    if counter == 100:
        break
quote_types

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Business, Stupid, Government',
 'Beauty, Love Yourself, Your Beautiful',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Love, Inspirational, Life',
 'Inspirational, Change, Philosophy',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [87]:
dq = pd.DataFrame({'Quotes':quotes,'Authors':authors,'Quote types':quote_types})
dq

,Quotes,Authors,Quote types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com

In [98]:
driver = webdriver.Chrome()

In [99]:
#opening the motor page on automated chrome browser

driver.get("https://www.motor1.com")

In [100]:
#entering search item as required in the question

search = driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
search.send_keys('20 most expensive cars')

In [101]:
#clicking the search icon

search_icon = driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search_icon.click()

In [102]:
#clicking the text
search_text = driver.find_element(By.XPATH,"/html/body/div[9]/div[9]/div/div[1]/div/div/div/div/div[1]")
search_text.click()

In [103]:
#scraping Car title
car_title = []
counter = 0
cartitle_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cartitle_tags:
    title = i.text
    car_title.append(title)
    counter += 1
    if counter == 20:
        break
car_title

['Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Ferrari Monza',
 'Bentley Bacalar',
 'Pininfarina Battista',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Bugatti Bolide',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Divo',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti La Voiture Noire']

In [104]:
#scraping Car price
car_price = []
counter = 0
carprice_tags = driver.find_elements(By.TAG_NAME,'strong')
for i in carprice_tags:
    price = i.text
    car_price.append(price)
    counter += 1
    if counter == 20:
        break
car_price

['Price: £1.1 million ($1.4 million)',
 'Price: £1.1 million ($1.4 million)',
 '',
 'Price: £1.3 million ($1.7 million)',
 'Price: £1.3 million ($1.7 million)',
 'Price: £1.5 million ($1.9 million)',
 'Price: £1.9 million ($2.5 million)',
 'Price: £2.1 million ($2.7 million)',
 'Price: £2.3 million ($3.0 million)',
 'Price: £2.3 million ($3.0 million)',
 'Price: £2.5 million* ($3.2 million)',
 'Price: £2.6 million ($3.4 million)',
 'Price: £2.7 million ($3.5 million)',
 'Price: £2.8 million ($3.6 million)',
 'Price: £2.8 million ($3.6 million)',
 'Price: £3.0 million ($3.9 million)',
 'Price: £3.5 million ($4.5 million)',
 'Price: £4.5 million ($5.8 million)',
 'Price: £6.1 million ($8.0 million)',
 'Price: £6.9 million ($9.0 million)']

In [105]:
dk = pd.DataFrame({'Car_titles':car_title,'Car_price':car_price})
dk

                         Car_titles                            Car_price
0                 Ferrari LaFerrari   Price: £1.1 million ($1.4 million)
1                     Pagani Huayra   Price: £1.1 million ($1.4 million)
2                      McLaren Elva
3                     Ferrari Monza   Price: £1.3 million ($1.7 million)
4                   Bentley Bacalar   Price: £1.3 million ($1.7 million)
5              Pininfarina Battista   Price: £1.5 million ($1.9 million)
6          Mercedes-AMG Project One   Price: £1.9 million ($2.5 million)
7               Aston Martin Victor   Price: £2.1 million ($2.7 million)
8                    Bugatti Bolide   Price: £2.3 million ($3.0 million)
9             Aston Martin Valkyrie   Price: £2.3 million ($3.0 million)
10        W Motors Lykan Hypersport  Price: £2.5 million* ($3.2 million)
11        Pagani Huayra Roadster BC   Price: £2.6 million ($3.4 million)
12         Bugatti Chiron Pur Sport   Price: £2.7 million ($3.5 million)
13                 Lamborghini Sian   Price: £2.8 million ($3.6 million)
14  Bugatti Chiron Super Sport 300+   Price: £2.8 million ($3.6 million)
15               Lamborghini Veneno   Price: £3.0 million ($3.9 million)
16                     Bugatti Divo   Price: £3.5 million ($4.5 million)
17         Mercedes-Maybach Exelero   Price: £4.5 million ($5.8 million)
18               Bugatti Centodieci   Price: £6.1 million ($8.0 million)
19         Bugatti La Voiture Noire   Price: £6.9 million ($9.0 million)